@inherits LayoutComponentBase
<RadzenComponents />

<div style="min-height: 100vh; 
            display: flex; 
            align-items: center; 
            justify-content: center;
            background-color: var(--rz-body-background-color);">
    @Body
</div>